<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Motorsport </title>
        <link rel="apple-touch-icon" sizes="180x180" href="../public/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../public/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicon-16x16.png">
        <link rel="manifest" href="../public/img/site.webmanifest">
        <link rel="stylesheet" href="../public/css/style_index.css">
     
    </head>
<body>
    <header>
        <h1>Motorsport Inventory</h1>
        <nav id="nav_bar">
            <menu>
                <div><a href="./index">Home</a> | <a href="./staff">Staff</a> | <a href="./inventory">Inventory</a> | <a href="./results">Results</a> | <a href="./info">Information</a></div>
            </menu>
        </nav>
    </header>
    <hr>


    <main>
        <h2>Company Information</h2>
        <p>This page is reserved for company information. Here your employees can read on your team's history.<br>Below is an example, taken from Red Bull Racing Honda:</p>
        <hr>
        <h2>Red Bull Racing Honda</h2>
        <img id="infologo" src="../public/img/redbull.png" style="float:right" width="25%"/>
        <p>Red Bull Racing came into existence late in 2004 – under the guidance of Team Principal Christian Horner – with ambitions to challenge for race victories and world championship titles.</p>
        <p>Over the next four seasons solid foundations were laid. The Team recruited in both quantity and quality, steadily expanding until it was capable of going toe-to-toe with the most illustrious names in racing.</p>
        <p>The Team finished seventh in 2005 and 2006. The initial driver line-up was a mix of youth and experience: David Coulthard provided the latter, while Christian Klien, Vitantonio Liuzzi and Robert Doornbos were the former. DC scored the Team’s first podium, finishing third in Monaco in 2006.</p>
        <p>For 2007 Mark Webber came onboard to join DC. The Team finished fifth in 2007 but dropped back to seventh again in 2008 – but everything was going to change in 2009.</p>
        <p>Coulthard retired at the end of 2008 to be replaced by Sebastian Vettel. Seb’s arrival coincided with a major reset in the sport’s aerodynamic regulations. The new rules gave the Technical Team the chance to shine. In the RB5 they produced a winner. Vettel took the Team’s first victory, leading home Webber in a 1-2 finish at the Chinese Grand Prix. The car would win five more times in 2009, including Webber’s debut F1 victory at the Nürburgring. The Team finished second in the Constructors’ Championship but, perhaps more significantly, it won the final three races of the season.</p>
        <p>History was made in 2010. Driving the RB6, Webber and Vettel were title contenders from the start. Their consistent podium finishes secured the Constructors’ Championship at the penultimate round in Brazil. Both drivers went to the final race in Abu Dhabi with a shot at the Drivers’ crown. Vettel emerged triumphant, winning the race to become the sports’ youngest ever World Champion.</p>
        <p>The Red Bull RB7 and Vettel dominated 2011. He took 11 of the Team’s dozen victories and took his second Drivers’ title with four races to spare. The Constructors’ title was confirmed with three races still to go.</p>
        <p>The competition fought back in 2012, the first seven races went to seven different winners representing five different manufacturers. Red Bull Racing Honda kicked on in the second half of the season and four consecutive victories saw Vettel emerge as a strong title contender. Those wins also propelled the Team to a significant lead in the Constructors’ Championship. Both titles were clinched by the season’s end.</p>
        <p>In 2013 the RB9 looked like the class leader – but somehow never seemed to produce what it promised. That changed after the mid-season break when Vettel went on the rampage, setting a new record for consecutive victories – nine! Both titles were secured with three races to spare.</p>
        <p>The 2014 season saw reality bite as the new hybrid power units heralded a change. Saddled with a sizeable horsepower deficit the RB10 lacked the competitive edge enjoyed by its predecessors. Nevertheless, the car was still good enough to provide Daniel Ricciardo with his first, second and third Formula One victories.</p>
        <p>Ricciardo had replaced Webber, the latter having decided to retire from Formula One. Ricciardo outscored his quadruple World Champion teammate to finish third in the standings. While the Team came down to earth in 2014, its new driver was flying high.</p>
        <p>Vettel departed at the end of 2014 and was replaced Daniil Kvyat. Still plagued by a horsepower deficit, and struggling to get the car balanced, the Team endured its worst campaign since 2008.</p>
        <p>Red Bull moved up in 2016. The Team finished second in the Constructors’ Championship and Ricciardo was third in the Drivers’ table – though the name on everyone’s lips was Max Verstappen. The young Dutchman was promoted from Toro Rosso to replace Kvyat after four races of the season. He got off to the best start possible, winning his first race at the Spanish Grand Prix. Ricciardo added a second victory in Malaysia.</p>
        <p>2017 saw the RB13 struggle early on. The Team, however, excels at in-season development, and was soon on the podium. Daniel managed a mid-season sequence of five top three finishes in a row, including victory in Azerbaijan. It was, however, later in the year that the car started to look properly competitive, with Max taking victories in Malaysia and Mexico.</p>
        <p>2018 produced similar results, the RB14 was dialled in from the start of the season but a horsepower deficit hampered performance. Nevertheless, Daniel was able to collect ins in China and Monaco. Sadly, power unit failures became a talking point in Daniel’s season, with many races blighted by reliability problems. Like Daniel, Max finished 2018 with two victories. Thanks to his drive in Austria, we finally celebrated a home win at the Red Bull Ring.</p>
        <p>While this seemed very much like business-as-usual, 2018 was a season of change. The Team announced it would end an 11-year association with Renault and would become a Honda-powered outfit for 2019. Six weeks later Daniel Ricciardo said that after a decade with Red Bull, he would be leaving. His move saw Pierre Gasly rewarded for his exceptional performance at Toro Rosso with a promotion to the senior team for 2019.</p>
        <p>There were green shoots of success from the beginning of the 2019 season for Max. He really shone in Austria where he took his first win of the year and Honda’s first Formula One win since 2006. Max went on to claim two more wins, his first pole position, and finish third in the Drivers’ Championship – his best season to date. After 12 races into the season, Alex Albon was promoted from Toro Rosso for the remainder of the season. Alex’s debut season was rewarded when he claimed the Rookie of the Year trophy at the end of season awards.</p>
        <p>The two drivers returned in 2020 along with Honda, however the season start was put on hold, along with the world, as the COVID-19 global health pandemic hit. However, the sport eventually got going in July at the Red Bull Ring and a shortened 17-race calendar was confirmed.</p>
        <p>It was a relatively successful campaign for the Team, despite being up against a strong Constructors' title winning Mercedes. The season was a strong one for Max, with the Dutchman claiming a podium finish in all but one of the races he finished. He ended 2020 with one pole position, two race wins, six second places and three third place finishes. Max finished third in the Drivers’ World Championship with 214 points.</p>
        <p>Teammate Alex had a tougher season after struggling to get on top of the tricky RB16. But he made history in Mugello by becoming the first ever Thai driver to claim a podium finish in Formula One. He followed that up with another third place in Bahrain and finished the Drivers’ World Championship in seventh with 105 points.</p>
        <p>The pair’s achievements saw the Team finish P2 in the Constructors’ Championship on 319 points.
        <p>Entering the 2021 season, the Team will have a new driver line up with Max and Sergio ‘Checo’ Pérez going behind the wheel of our new challenger. As Alex changes roles in the Team and becomes Red Bull Racing’s Test and Reserve Driver.
    </main>
    
</body>

<br>
<hr>

    <footer>
        &copy; Copyright: Michal Huk, 2021
        <br>
        <a href="https://www.linkedin.com/in/itshukokay/"><img src="../public/img/linkedin-logo.png" alt="LinkedIn" style="height:14px;"></a> | <a href="mailto:mhuk@oakland.com">Contact</a>
    </footer>

</html>