<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Motorsport </title>
        <link rel="apple-touch-icon" sizes="180x180" href="../public/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../public/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicon-16x16.png">
        <link rel="manifest" href="../public/img/site.webmanifest">
        <link rel="stylesheet" href="../public/css/style_index.css">
     
    </head>
<body>
    <header>
        <h1>Motorsport Inventory</h1>
        <nav id="nav_bar">
            <menu>
                <div><a href="./index">Home</a> | <a href="./staff">Staff</a> | <a href="./inventory">Inventory</a> | <a href="./results">Results</a> | <a href="./info">Information</a></div>
            </menu>
        </nav>
    </header>
<hr>

    <main>

        <div class="container">
            <h2>Staff</h2>
            <p>Your system will include your own team information.<br>The following example database is populated with staff from the McLaren F1 Team.</p>
            <hr>
            <img id="teamlogo" src="../public/img/mclaren.png" style="float:right" width="30%"/>
            <p>Click VIEW below to view all team and staff members:</p>
            <div id="main" class="card card-body">
              <form class="form-inline mb-3" action="/readstaff" method="get" id="CRUDread">
                <input type="submit" value="VIEW" class="btn btn-dark" />
              </form>
            </div>
          </div>

        <div class="container">
            <h3>New Staff Entry</h3>
            <div id="main" class="card card-body">
              <form class="form-inline mb-3" action="/insertstaff" method="post" id="CRUDcreate">
                <label for="FName">First Name: </label>
                <input type="text" name="FName" placeholder="Bruce" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <label for="LName">Last Name: </label>
                <input type="text" name="LName" placeholder="McLaren" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <label for="Email">Staff Email: </label>
                <input type="text" name="Email" placeholder="Enter Email" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <label for="Dept">Staff Department: </label>
                <input type="text" name="Dept" placeholder="(Driver, Mechanic, Developer)" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <input type="submit" value="SUBMIT" class="btn btn-dark" />
                <input type="reset" value="RESET" class="btn btn-dark" />
              </form>
            </div>
          </div>

          <div class="container">
            <h3>Update Staff Email</h3>
            <div id="main" class="card card-body">
              <form action="/updatestaff" method="post" id="CRUDupdate" class="crud">
                <label for="StaffID">Enter Staff ID: </label>
                <input type="text" name="StaffID" placeholder="ID to update" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <label for="staffNewEmailUpdate">Enter new email address: </label>
                <input type="text" name="staffNewEmailUpdate" placeholder="example@mclaren.com" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <input type="submit" value="SUBMIT" class="btn btn-dark" />
                <input type="reset" value="RESET" class="btn btn-dark" />
              </form>
            </div>
          </div>

          <div class="container">
            <h3>Delete Staff Entry</h3>
            <div id="main" class="card card-body">
              <form action="/deletestaff" method="post" id="CRUDdelete" class="crud">
                <label for="StaffID">Enter Staff ID: </label>
                <input type="text" name="StaffID" placeholder="ID to remove" size="50" required autocomplete="off" class="form-control mr-2"/>
                <br>
                <input type="submit" value="SUBMIT" class="btn btn-dark" />
                <input type="reset" value="RESET" class="btn btn-dark" />
              </form>
            </div>
          </div>

    </main>
    
</body>

<br>
<hr>

    <footer>
        &copy; Copyright: Michal Huk, 2021
        <br>
        <a href="https://www.linkedin.com/in/itshukokay/"><img src="../public/img/linkedin-logo.png" alt="LinkedIn" style="height: 14px;"></a> | <a href="mailto:mhuk@oakland.com">Contact</a>
    </footer>

</html>