a:link{
    color: red;
}

a:visited{
    color: darkred;
}

h1, h2{
    /* text-align: center; */
    color: red;
    margin: auto;
    border: 2px;
    padding: 2px;
    clear: both;
}

body{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgray;
}

tr:hover {
    background-color:lightgray;
}

#teamlogo {
    margin: 25px;
}

#infologo {
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    margin: 25px;
}